*.class
*.log
*.pyc
build/*.jar

docs/_site
docs/api

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.bsp
.metals
metals.sbt
.bloop

# intellij
.idea/

# VSCode
.vscode

# Helix
.helix

# Mac
*.DS_Store

# Python specific
python/build
python/dist
build/lib
python/graphframes.egg-info
python/graphframes/tutorials/data
python/docs/_build
python/docs/_site

# JAR that is build during the installation
python/graphframes/resources/*

# tmp data for spark connect
tmp/*

# db-connect targets
graphframes-connect-databricks/*

# JDTLS
workspace
