# Mailmap to correct users

Felix Cheung <felixcheung_m@hotmail.com> Felix Cheung <fcheung@avvo.com>
Felix Cheung <felixcheung_m@hotmail.com> felixcheung <felixcheung_m@hotmail.com>
Felix Cheung <felixcheung_m@hotmail.com> Felix Cheung <felixcheung@users.noreply.github.com>
Joseph K. Bradley <joseph.kurata.bradley@gmail.com> jkbradley <joseph.kurata.bradley@gmail.com>
Shagun Sodhani <sshagunsodhani@gmail.com> Shagun <sshagunsodhani@gmail.com>
Frederick Lefebvre <fred@calculquebec.ca> fred <fred@calculquebec.ca>
