# Mailmap to correct users

Joseph K. Bradley <joseph.kurata.bradley@gmail.com> jkbradley <joseph.kurata.bradley@gmail.com>
Xiangrui Meng <meng@databricks.com>
Feynman Liang <fliang@databricks.com>
Felix Cheung <felixcheung_m@hotmail.com> Felix Cheung <fcheung@avvo.com>
Felix Cheung <felixcheung_m@hotmail.com> felixcheung <felixcheung_m@hotmail.com>
Felix Cheung <felixcheung_m@hotmail.com> Felix Cheung <fcheung@avvo.com>
Felix Cheung <felixcheung_m@hotmail.com> Felix Cheung <felixcheung@users.noreply.github.com>
Qingpeng Zhang <qingpeng@msu.edu>
Reynold Xin <rxin@databricks.com>
Bill Chambers <bill@databricks.com>
Shagun <sshagunsodhani@gmail.com>
fred <fred@calculquebec.ca>

