repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c 'cd python && poetry run black graphframes/' --
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: bash -c 'cd python && poetry run flake8 graphframes/' --
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: bash -c 'cd python && poetry run isort graphframes/' --
        language: system
        types: [python]

      - id: scalafmt
        name: scalafmt
        entry: build/sbt scalafmtCheckAll
        language: system
        types: [scala]
        pass_filenames: false

      - id: scalafix
        name: scalafix
        entry: build/sbt "scalafixAll --check"
        language: system
        types: [scala]
        pass_filenames: false

