language: scala
scala:
  - 2.10.5
  - 2.11.7
jdk:
  - oraclejdk7 # openJDK crashes sometimes
sudo: false
cache:
  directories:
    - $HOME/.ivy2
    - $HOME/.sbt/launchers/
    - $HOME/.cache/spark-versions
env:
  matrix:
    - SPARK_VERSION=2.0.0 SPARK_BUILD="spark-2.0.0-bin-hadoop2.7" SPARK_BUILD_URL="http://d3kbcqa49mib13.cloudfront.net/spark-2.0.0-bin-hadoop2.7.tgz"
    - SPARK_VERSION=1.6.2 SPARK_BUILD="spark-1.6.2-bin-hadoop2.6" SPARK_BUILD_URL="http://d3kbcqa49mib13.cloudfront.net/spark-1.6.2-bin-hadoop2.6.tgz"
    - SPARK_VERSION=1.5.2 SPARK_BUILD="spark-1.5.2-bin-hadoop2.6" SPARK_BUILD_URL="http://d3kbcqa49mib13.cloudfront.net/spark-1.5.2-bin-hadoop2.6.tgz"
    - SPARK_VERSION=1.4.1 SPARK_BUILD="spark-1.4.1-bin-hadoop2.6" SPARK_BUILD_URL="http://d3kbcqa49mib13.cloudfront.net/spark-1.4.1-bin-hadoop2.6.tgz"

matrix:
  exclude:
  - scala: 2.11.7
    env: SPARK_VERSION=1.6.2 SPARK_BUILD="spark-1.6.2-bin-hadoop2.6" SPARK_BUILD_URL="http://d3kbcqa49mib13.cloudfront.net/spark-1.6.2-bin-hadoop2.6.tgz"
  - scala: 2.11.7
    env: SPARK_VERSION=1.5.2 SPARK_BUILD="spark-1.5.2-bin-hadoop2.6" SPARK_BUILD_URL="http://d3kbcqa49mib13.cloudfront.net/spark-1.5.2-bin-hadoop2.6.tgz"
  - scala: 2.11.7
    env: SPARK_VERSION=1.4.1 SPARK_BUILD="spark-1.4.1-bin-hadoop2.6" SPARK_BUILD_URL="http://d3kbcqa49mib13.cloudfront.net/spark-1.4.1-bin-hadoop2.6.tgz"

before_install:
 - ./bin/download_travis_dependencies.sh

install:
 - pip install --user -r ./python/requirements.txt

script:
  - sbt -Dspark.version=$SPARK_VERSION -Dscala.version=$TRAVIS_SCALA_VERSION "set test in assembly := {}" assembly
  - sbt -Dspark.version=$SPARK_VERSION -Dscala.version=$TRAVIS_SCALA_VERSION test
  - SPARK_HOME=$HOME/.cache/spark-versions/$SPARK_BUILD SCALA_VERSION=$TRAVIS_SCALA_VERSION ./python/run-tests.sh
