dist: bionic

language: scala

jdk:
  - openjdk8

cache:
  directories:
    - $HOME/.ivy2
    - $HOME/.sbt/launchers/
    - $HOME/.cache/spark-versions

matrix:
  include:
    - env: PYSPARK_PYTHON=python3 SCALA_VERSION=2.11.12 SPARK_VERSION=2.4.5 SPARK_BUILD="spark-${SPARK_VERSION}-bin-hadoop2.7"
    - env: PYSPARK_PYTHON=python3 SCALA_VERSION=2.12.11 SPARK_VERSION=3.0.0-preview2 SPARK_BUILD="spark-${SPARK_VERSION}-bin-hadoop2.7"

before_install:
  - ./bin/download_travis_dependencies.sh

install:
  - pyenv global 3.7
  - pip install -r ./python/requirements.txt

script:
  - sbt ++$SCALA_VERSION -Dspark.version=$SPARK_VERSION "set test in assembly := {}" assembly
  - sbt ++$SCALA_VERSION -Dspark.version=$SPARK_VERSION coverage test coverageReport
  - SPARK_HOME=$HOME/.cache/spark-versions/$SPARK_BUILD ./python/run-tests.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
