name: python-pypi-publish

on:
  push:
    branches:
      - main
    tags:
      - "*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      PIP_REQUESTS_TIMEOUT: 100
    environment:
      name: pypi
      url: https://pypi.org/p/graphframes-py
    permissions:
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '11'
          distribution: 'zulu'

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Set up Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.1.3
          virtualenvs-create: true
          virtualenvs-in-project: false
          installer-parallel: true

      - name: Build GraphFrames python
        working-directory: python
        run: |
          poetry build

      - name: PyPi publish
        if: startsWith(github.ref, 'refs/tags/')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: python/dist
