name: python-pypi-publish

on:
  push:
    branches:
      - main
    tags:
      - "*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/graphframes-py
    permissions:
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'zulu'

      - name: Set up Python
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Set up Poetry
        if: startsWith(github.ref, 'refs/tags/')
        uses: snok/install-poetry@v1
          
      - name: Build GraphFrames python
        if: startsWith(github.ref, 'refs/tags/')
        working-directory: python
        run: |
          poetry version ${{ github.ref_name }}
          poetry build

      - name: PyPi publish
        if: startsWith(github.ref, 'refs/tags/')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: python/dist
