name: Scala CI
on: [push, pull_request]
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - spark-version: 3.5.4
            scala-version: 2.13.8
          - spark-version: 3.5.0
            scala-version: 2.12.12
    runs-on: ubuntu-22.04
    env:
      # fixing this error after tests success: sbt.ForkMain failed with exit code 134
      # https://stackoverflow.com/questions/33287424/strange-exception-in-sbt-test
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -XX:+CMSClassUnloadingEnabled -XX:+UseConcMarkSweepGC -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -XX:+CMSClassUnloadingEnabled -XX:+UseConcMarkSweepGC -Dfile.encoding=UTF-8
    steps:
    - uses: actions/checkout@v4
    - uses: olafurpg/setup-scala@v13
      with:
        java-version: "openjdk@1.11"
    - uses: actions/cache@v4
      with:
        path: |
          ~/.ivy2/cache
        key: sbt-ivy-cache-spark-${{ matrix.spark-version}}-scala-${{ matrix.scala-version }}
    - name: Build and Test
      run: build/sbt -v ++${{ matrix.scala-version }} -Dspark.version=${{ matrix.spark-version }} coverage test coverageReport
    - uses: codecov/codecov-action@v3
