name: scala-central-publish

on:
  push:
    branches:
      - main
    tags:
      - "*.*.*"

# In the case of pushing the tag, it will publish the release.
# In the case of pushing to the main, it will publish the SNAPSHOT

# From the docs (https://github.com/sbt/sbt-ci-release):
# - git tag pushes are published as regular releases to Maven Central
# - merge into main commits are published as -SNAPSHOT with a unique version number for every commit

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - spark-version: 3.5.5
            java-version: 11
          - spark-version: 4.0.0
            java-version: 17
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # sbt-git requires the full history to determine the version

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: "${{ matrix.java-version }}"
          distribution: 'zulu'

      - name: Run the release of core
        run: build/sbt -Dspark.version=${{ matrix.spark-version }} +ci-release "project connect" +ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
