name: Scala CI
on: [push, pull_request]
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - spark-version: 3.5.5
            java-version: 11
          - spark-version: 3.5.5
            java-version: 17
          - spark-version: 4.0.0
            java-version: 17
    runs-on: ubuntu-22.04
    env:
      # fixing this error after tests success: sbt.ForkMain failed with exit code 134
      # https://stackoverflow.com/questions/33287424/strange-exception-in-sbt-test
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -XX:+CMSClassUnloadingEnabled -XX:+UseConcMarkSweepGC -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -XX:+CMSClassUnloadingEnabled -XX:+UseConcMarkSweepGC -Dfile.encoding=UTF-8
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: "zulu"
        java-version: "${{ matrix.java-version }}"
    - uses: actions/cache@v4
      with:
        path: |
          ~/.ivy2/cache
        key: sbt-ivy-cache-spark-${{ matrix.spark-version}}-java-${{ matrix.java-version }}
    - name: Check scalafmt
      run: build/sbt -Dspark.version=${{ matrix.spark-version }} scalafmtCheckAll
    - name: Check scalastyle
      run: build/sbt -Dspark.version=${{ matrix.spark-version }} scalafixAll --check
    - name: Build and Test
      run: build/sbt -v -Dspark.version=${{ matrix.spark-version }} coverage +test coverageReport
    - uses: codecov/codecov-action@v3
